name: Build

on:
  push:
    paths:
      - '**.dart'
      - '**.yaml'
      - '**.yml'
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Flutter
        uses: subosito/flutter-action@v1
      - name: Install dependencies
        run: flutter packages get
      - name: Code Formatting
        run: dart format --set-exit-if-changed .
      - name: Check Publish Warnings
        run: flutter pub publish --dry-run